dist/
.idea/
build/
Pipfile.lock
twilio_config.json
discord_config.json
telegram_config.json
autobuy_config.json
slack_config.json
geckodriver.log
.profile
*.log
__pycache__/
*.py[cod]
/evga_config.json
*.pkl
.vscode/