# Ignore all config files
amazon_config.json
discord_config.json
evga_config.json
slack_config.json
telegram_config.json
twilio_config.json

dist/
.idea/
build/
Pipfile.lock
geckodriver.log
.profile
.profile-amz*
*.log
__pycache__/
*.py[cod]
*.pkl
.vscode/
