[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
click = "*"
selenium = "*"
chromedriver-py = "==85.0.4183.87"
furl = "*"
twilio = "*"
discord-webhook = "*"
pycryptodome = "==3.9.8"
questionary = "*"
spinlog = "*"
slackclient = "*"
playsound = "*"
prompt_toolkit = "*"
aiohttp = "*"
pyobjc = {version = "*", sys_platform = "== 'darwin'"}
async-timeout = "*"
amazoncaptcha = "==0.3.10"
browser-cookie3 = "*"


[requires]
python_version = "3.8"
