[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = "*"

[packages]
requests = "*"
click = "*"
selenium = "*"
chromedriver-py = "==98.0.4758.102"
furl = "*"
twilio = "*"
discord-webhook = "*"
pycryptodome = "==3.9.8"
questionary = "*"
spinlog = "*"
slackclient = "*"
playsound = "*"
prompt_toolkit = "*"
aiohttp = "*"
pyobjc = { version = "*", sys_platform = "== 'darwin'" }
async-timeout = "*"
amazoncaptcha = "*"
browser-cookie3 = "*"
coloredlogs = "*"
apprise = "*"
price-parser = "*"
pypresence = "==4.0.0"
pywin32 = { version = "*", sys_platform = "== 'win32'" }
psutil = "*"
stdiomask = "*"
packaging = "*"
config = "*"
lxml = "*"
dnspython = "*"

[requires]
python_version = "3.8"
